Cython==0.29.33
Pillow==9.4.0
Pypubsub==4.0.3
configparser==5.0.1
h5py==3.7.0
imageio==2.24.0
nibabel==5.0.1
numpy==1.24.1
psutil==5.9.4
pyserial==3.5
python-gdcm==3.0.21
scikit-image==0.19.3
scipy==1.10.0
vtk==9.2.5
wxPython==4.2.0
torch==1.13.1
pyacvd==0.2.9
